.App {
  text-align: center;
}

.matrix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.note {
  font-size: 10px;
  width: 40px;
  height: 20px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  cursor: pointer;
}

.note.C {
  background-color: red;
}

.note.D {
  background-color: orange;
}

.note.E {
  background-color: yellow;
}

.note.F {
  background-color: green;
}

.note.G {
  background-color: blue;
}

.note.A {
  background-color: navy;
}

.note.B {
  background-color: purple;
}


button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
